:root {
  --dark  : rgb(32, 32, 40);
  --darker: rgb(16, 16, 20);
}

body {
  padding: 5px;
  height: calc(100vh - 10px);
  background: var(--dark);
}

.clear {
  flex-grow: 1;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.separator {
  border-right: black solid 2px;
  height: 75%;
  opacity: 0.6;
}

#userlist {
  min-width: 10vw;
}

#chat {
  overflow: auto;
}

#input *{
  margin: auto 1vw;
}

#input button {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  font-weight: bolder;
  border: 0;
}


#input textarea {
  min-height: 5vh;
  height: auto;
  resize: none;
}

/*
.page{}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

.modal{
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
}

.modalBox{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:15px;
  outline:0;
  width:600px
}

.close{
  border:1px solid #ccc;
  display:inline-block;
  outline:0;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-align:center;
  cursor:pointer;
}

.connect{
text-align:center;
}

.texte{
  height: 550px;
  overflow-y: scroll;
  border:1px solid #ccc;
}

.message{}

.messageInput{
  padding:8px;
  display:block;
  border:1px solid #ccc;
  width:90%;
}
*/